
{% extends "layout.html" %}
{% block content %}

<div class="row">
  <div class="jumbotron">
    <h4>Visualize your workout data</h4>
    <form id="uploadForm" method="POST" action="/" enctype="multipart/form-data">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
        <div class="form-group">
          {{ form.workout_data(class_="form-control btn btn-default btn-file") }}
        </div>
      <div>
        <button type="submit" class="btn btn-success">Upload Workout Data</button>
      </div>
    </form>
  </div>

  <div>
    How to get workout data
  </div>
</div>


{% endblock %}

